@import '../../SassStyles/_variables';
@import '../../SassStyles/_mixins';

.welcome-container {
    @include flex(center, center, column);
    height: 160vh;
    width: 100%;
}

.scroll-picture-section {
    background-color: $dark-green;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.corn-image {
    box-shadow: $shadow;
    height: 495px;
    width: 360px;
}

.mill-description-section {
    @include flex(space-evenly, center);
    height: 80vh;
    width: 100%;
}

.description-article {
    @include flex(space-evenly, center, column);
    background-color: $white;
    box-shadow: $shadow;
    height: 60vh;
    width: 30%;
}

.mill-description {
    font-family: $body-font;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 75%;
}

.view-grains-button {
    @include button();
    background-color: $red;
    color: $off-white;

    &:hover {
        background-color: $off-white;
        color: $red
    }
}

.image-container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    position: relative;
    height: 80vh;
    width: 50%;
}

.miller-image {
    box-shadow: $shadow;
    height: 522px;
    width: 352px;
    grid-column: 1 / span 8;
    grid-row: 1;
    margin-top: 5%;
    z-index: 1;
}

.scoop-of-grain-image {
    box-shadow: $shadow;
    height: 232px;
    width: 352px;
    grid-column: 8 / span 8;
    grid-row: 1;
    margin-top: 25%;
    z-index: 2;
}

.red-block-image {
    background-color: $red;
    height: 100%;
    grid-column: 4 / span 9;
    grid-row: 1;
}

// ~~~~~ RESPONSIVE ~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~

@media screen and (max-width: 420px) {

    .welcome-container {
        height: 100%;
    }

    .scroll-picture-section {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        height: 100%;
        padding: 2% 0;
    }

    .corn-image {
        height: 445px;
        width: 324px;
    }

    .mill-description-section {
        @include flex(center, center, column);
        height: 100%;
    }

    .description-article {
        height: 60%;
        width: 90%;
        margin-top: 2%;
        padding: 2% 0;
    }

    .mill-description {
        font-size: 14px;
        line-height: 24px;
        width: 80%;
    }

    .image-container {
        @include flex(center, center);
        height: 40%;
        width: 100%;
        padding: 2% 0;
    }

    .miller-image {
        display: none;
    }

    .scoop-of-grain-image {
        margin-top: 0%;
        z-index: 0;
    }

    .red-block-image {
        display: none;
    }
}

@media screen and (min-width: 420px) and (max-width: 810px) {

    .welcome-container {
        height: 100%;
    }

    .scroll-picture-section {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        height: 100%;
        padding: 2% 0;
    }

    .corn-image {
        height: 445px;
        width: 324px;
    }

    .wooden-mill {
        display: none;
    }

    .mill-description-section {
        @include flex(center, center, column);
        height: 100%;
    }

    .description-article {
        height: 60%;
        width: 90%;
        margin-top: 2%;
        padding: 2% 0;
    }

    .mill-description {
        font-size: 14px;
        line-height: 24px;
        width: 80%;
    }

    .image-container {
        grid-template-columns: repeat(17, 1fr);
        height: 40%;
        width: 100%;
        padding: 2% 0;
    }

    .miller-image {
        grid-column: 3 / span 8;
        height: 524px;
        width: 334px;
        margin-top: 0;
    }

    .scoop-of-grain-image {
        grid-column: 9 / span 8;
        height: 220px;
        width: 334px;
    }

    .red-block-image {
        grid-column: 4 / span 11;
        height: 80%;
        margin-top: 10%;
    }
    
}