@import '../../SassStyles/_variables';
@import '../../SassStyles/_mixins';

.container-view {
    @include flex(space-around, center, column);
    width: 100%;
}

.color-match-container {
    @include flex (space-evenly, center);
    height: 5vh;
    width: 60%;
    margin: 2% 0;
}

.single-match-container {
    @include flex (center, center);
    height: 100%;
    width: 50%;
}

.color-circle-with,
.color-cirlce-without {
    background-color: $blue;
    border-radius: 150px;
    height: 25px;
    width: 25px;
    margin: 0 5px;
}

.color-cirlce-without {
    background-color: $gold;
}

.gluten-state-tag {
    font-family: $body-font;
    font-size: 18px;
}

.grain-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
    width: 90%;
    margin: 2% 5%;
}

// ~~~~~ RESPONSIVE ~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~

@media screen and (max-width: 600px) {

    .color-match-container {
        @include flex(center, center, column);
        height: 10vh;
        width: 100%;
    }

    .single-match-container {
        width: 80%;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 910px) {
    
    .color-match-container {
        width: 80%;
    }
    
}