// ~~~~~ COLORS ~~~~~
$off-white: #FAFAFA;
$white: #FFFFFF;
$black: #000000;
$dark-green: #58543B;
$light-green: #7F9571;
$brown: #804D10;
$gold: #B47E1F;
$red: #7B2B20;

// ~~~~~ FONTS ~~~~~
$header-font: 'Chelsea Market', cursive;
$body-font: 'Open Sans', sans-serif;

// ~~~~~ BOX SHADOW ~~~~~
$shadow: 1px 2px 5px $black;